*{
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
#navSection{
}
.halfWidth h1{
    font-size : 45px;
    font-weight : bold;
}
.halfWidth p{
    color : dimgray;
}
.halfWidth span{
    color : #ffa200;
}
.halfWidth{
    width : 40%;
    float : left;
    margin-left : 5%;
    padding-left: 2%;
    margin-top: 50px;
}
.halfWidth p{
    padding: 10px 0;
    ;
}
.info{
    margin-top: 50px;
}
.halfWidth img{
    width : 120%;
}
.halfWidth a{
    background-image: linear-gradient(90deg, lightsalmon, tomato);
    border: none;
    padding: 8px 25px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 3px;
}

/* dremSection */

.dreamInfo{
    margin-top: 100px;
}
.dreamInfo p span{
    color: blue;
}

/* experienceSection */

.experienceSection{
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.dBig{
    width: 40%;
    height: 50%;
    margin-left: 7%;
    padding : 5px 0 0 20px;
    float: left;
    box-shadow: 10px 10px 40px gray;
    border-radius:5px;
}
.dBig h3{
    color: #ffa200;
}
.sliceDari{
    border-left : 7px solid black;
    border-image: linear-gradient(180deg,lightsalmon, tomato);
    border-image-slice: 1;
}
.sliceDari1{
    border-left : 7px solid black;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

footer{
    text-align: center;
}